.aut {
    display: block;
    font-family: "JansonTextLTStd";
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center
    }
.author {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    text-align: center
    }
.bgblack {
    background-color: #000;
    color: #FFF;
    line-height: 1.2;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.2em;
    padding-top: 0.1em
    }
.big {
    font-size: 1.09091em;
    line-height: 1.2
    }
.box {
    background-color: #E6E7E8;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 0.1em;
    border-radius: 0.5em;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 0.1em;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 0.1em;
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.boxtitle {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.83333em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: center
    }
.bq {
    display: block;
    font-family: "JansonTextLTStd";
    font-size: 0.83333em;
    margin-bottom: 1.5em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1.5em
    }
.bull {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0.7em;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: -0.7em
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    line-height: 1.2
    }
.calibre2 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre3 {
    height: auto;
    max-height: 99%;
    max-width: 99%;
    width: auto
    }
.calibre4 {
    color: #000;
    text-decoration: none
    }
.calibre5 {
    font-weight: bold
    }
.calibre6 {
    display: block
    }
.calibre7 {
    font-style: italic
    }
.calibre8 {
    color: #000;
    line-height: 1.2;
    text-decoration: none
    }
.calibre9 {
    display: block;
    line-height: 1.2
    }
.calibre10 {
    font-style: italic;
    line-height: 1.2
    }
.calibre11 {
    display: table-header-group;
    vertical-align: middle
    }
.calibre12 {
    display: table-row;
    vertical-align: inherit
    }
.calibre13 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre14 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre15 {
    display: list-item
    }
.calibre16 {
    font-size: 0.75em
    }
.calibre17 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre18 {
    display: table-column-group
    }
.calibre19 {
    display: table-column;
    width: 25%
    }
.calibre20 {
    display: table-column;
    width: 14%
    }
.calibre21 {
    display: table-column;
    width: 11%
    }
.calibre22 {
    font-size: 0.9em;
    line-height: normal;
    vertical-align: super
    }
.calibre23 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.codeitalic {
    font-family: "Courier";
    font-style: italic
    }
.codestrong {
    font-family: "Courier";
    font-weight: bold
    }
.copy {
    display: block;
    font-family: "JansonTextLTStd";
    font-size: 0.83333em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.ent {
    font-family: "Arial Unicode MS";
    src: url(OEBPS/html/fonts/ARIALUNI.ttf)
    }
.figcap {
    display: block;
    font-family: "TradeGothicLTStd";
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    page-break-before: avoid;
    text-align: left
    }
.figcap1 {
    display: block;
    font-family: "TradeGothicLTStd";
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0.2em;
    page-break-before: avoid;
    text-align: left
    }
.footnote {
    display: block;
    font-family: "JansonTextLTStd";
    font-size: 0.83333em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-top: 0.5em;
    text-align: left
    }
.h {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.h1 {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center
    }
.h2 {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.h2a {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left
    }
.h2b {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center
    }
.image {
    clear: both;
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    max-height: 99%;
    max-width: 99%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.image1 {
    clear: both;
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-height: 99%;
    max-width: 99%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.image1a {
    clear: both;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-height: 99%;
    max-width: 99%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.image2 {
    clear: both;
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-height: 99%;
    max-width: 99%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.imagea {
    clear: both;
    display: block;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: auto;
    margin-top: 1em;
    max-height: 99%;
    max-width: 99%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.indent {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: left;
    text-indent: 1.3em
    }
.indentb {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.8em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: left;
    text-indent: 1.3em
    }
.indentt {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em;
    text-align: left;
    text-indent: 1.3em
    }
.indenttb {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.8em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em;
    text-align: left;
    text-indent: 1.3em
    }
.indexmain {
    display: block;
    font-family: "JansonTextLTStd";
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.3em;
    text-align: left
    }
.indexmain1 {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 3.8em;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: left;
    text-indent: -3.8em
    }
.indexsub {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 3.7em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: -2.5em
    }
.literal {
    font-family: "Courier";
    font-size: 0.9em
    }
.literal1 {
    font-family: "Courier";
    font-size: 0.83333em
    }
.noindent {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: left
    }
.noindentb {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.8em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: left
    }
.noindentt {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em;
    text-align: left
    }
.note {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 0.1em;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 0.1em;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 0.1em;
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 1em;
    margin-left: 0;
    margin-top: 1em;
    padding-bottom: 0.3em;
    padding-left: 0;
    padding-right: 1em;
    padding-top: 0.1em;
    text-align: left
    }
.notep {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.2em;
    text-align: left
    }
.notet {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.programs {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 0.1em;
    display: block;
    font-family: "Courier";
    font-size: 0.75em;
    margin-bottom: 0.8em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.5em;
    text-align: left
    }
.programs1 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 0.1em;
    display: block;
    font-family: "Courier";
    font-size: 0.75em;
    margin-bottom: 0.8em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.5em;
    text-align: left
    }
.programsc {
    display: block;
    font-family: "Courier";
    font-size: 0.75em;
    margin-bottom: 0.8em;
    margin-left: 15em;
    margin-right: 0;
    margin-top: 1em
    }
.pub {
    display: block;
    margin-top: 6em;
    text-align: center
    }
.pub1 {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em;
    text-align: center
    }
.subtitle {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.66667em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: center
    }
.tabcaption {
    display: block;
    font-family: "TradeGothicLTStd";
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-after: avoid;
    text-align: left
    }
.table {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em
    }
.table_th {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    display: table-cell;
    font-family: "JansonTextLTStd";
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.1em;
    text-align: inherit;
    vertical-align: top
    }
.table_th1 {
    background-color: #D1D3D4;
    display: table-cell;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-top: 0.2em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.table_th2 {
    background-color: #D1D3D4;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    display: table-cell;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-top: 0.2em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.table_th3 {
    background-color: #D1D3D4;
    display: table-cell;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-top: 0.2em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.table_tha {
    background-color: #D1D3D4;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    display: table-cell;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-top: 0.2em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.1em;
    text-align: inherit;
    vertical-align: top
    }
.table1 {
    display: table-cell;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-top: 0.2em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.tablei {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0.3em;
    text-indent: -1em
    }
.term {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em;
    text-align: justify
    }
.term1 {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify
    }
.termlist {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: justify
    }
.termlista {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.2em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: justify
    }
.termlisti {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.2em;
    text-indent: 1.3em
    }
.tocchap {
    display: block;
    font-family: "JansonTextLTStd";
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.3em;
    text-align: left
    }
.tocfm {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: left
    }
.tocfm1 {
    display: block;
    font-family: "JansonTextLTStd";
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: left
    }
.tocsec {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left
    }
.tocsec1 {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 4.2em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left
    }
.topbot {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-collapse: collapse;
    border-spacing: 2px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 0.1em;
    display: table;
    font-family: "JansonTextLTStd";
    margin-bottom: 1em;
    margin-left: 0;
    margin-top: 0.3em;
    text-indent: 0
    }
.uln {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.5em;
    margin-left: 1.3em;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left
    }
.ulni {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.5em;
    margin-left: 1.3em;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 1.3em
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Arial Unicode MS";
    src: url(OEBPS/html/fonts/ARIALUNI.ttf);
    font-style: normal;
    font-weight: normal
    }
@font-face {
    font-family: "TradeGothicLTStd";
    src: url(OEBPS/html/fonts/TradeGothicLTStd.otf);
    font-style: normal;
    font-weight: normal
    }
@font-face {
    font-family: "TradeGothicLTStd";
    src: url(OEBPS/html/fonts/TradeGothicLTStd-Obl.otf);
    font-style: italic;
    font-weight: normal
    }
@font-face {
    font-family: "TradeGothicLTStd";
    src: url(OEBPS/html/fonts/TradeGothicLTStd-Bold.otf);
    font-style: normal;
    font-weight: bold
    }
@font-face {
    font-family: "TradeGothicLTStd";
    src: url(OEBPS/html/fonts/TradeGothicLTStd-BoldObl.otf);
    font-style: italic;
    font-weight: bold
    }
@font-face {
    font-family: "JansonTextLTStd";
    src: url(OEBPS/html/fonts/JansonTextLTStd-Bold.otf);
    font-style: normal;
    font-weight: bold
    }
@font-face {
    font-family: "JansonTextLTStd";
    src: url(OEBPS/html/fonts/JansonTextLTStd-BoldItalic.otf);
    font-style: italic;
    font-weight: bold
    }
@font-face {
    font-family: "JansonTextLTStd";
    src: url(OEBPS/html/fonts/JansonTextLTStd-Italic.otf);
    font-style: italic;
    font-weight: normal
    }
@font-face {
    font-family: "JansonTextLTStd";
    src: url(OEBPS/html/fonts/JansonTextLTStd-Roman.otf);
    font-style: normal;
    font-weight: normal
    }
@font-face {
    font-family: "Courier";
    src: url(OEBPS/html/fonts/Courier.otf)
    }
@font-face {
    font-family: "Courier";
    src: url(OEBPS/html/fonts/Courier-Bold.otf);
    font-style: normal;
    font-weight: bold
    }
@font-face {
    font-family: "Courier";
    src: url(OEBPS/html/fonts/Courier-Oblique.otf);
    font-style: italic;
    font-weight: normal
    }
@font-face {
    font-family: "Courier";
    src: url(OEBPS/html/fonts/Courier-BoldOblique.otf);
    font-style: italic;
    font-weight: bold
    }

